node_modules
dist
.DS_Store
.vscode/
__blobstorage__/
*.tsbuildinfo
*.zip
*.local
.env
.env.local
.env.production
local.settings.json
.vscode-test
*.log
.deployvars
.deployvars.txt
backend/.deployvars.txt
backend/_fc1package/.deployvars.txt